/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
}
header {
  margin: 2rem 29%;
  display: flex;
  justify-content: left;
  flex-flow: wrap;
}

header nav {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 0 6px 0;
  font-size: 14px;
}
header img {
  margin-right: 15%;
}
header a {
  text-decoration: none;
  color: black;
  padding-right: 18%;
}
h1,
h2,
h3,
h4,
h5 {
  font-size: 18px;
  margin-bottom: 15px;
  font-family: "Rubik", sans-serif;
}

p {
  line-height: 1.4;
}

.container {
  width: 800px;
  margin: 0 auto;
}
#top {
  border-bottom: 1.5px dashed black;
  padding-bottom: 3.5%;
  margin-bottom: 3.5%;
}
#top h1 {
  padding: 3.5% 3.5% 0 3.5%;
}
#top p {
  padding: 0% 3.5% 0 3.5%;
}
.learnmore {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.learnmore h2 {
  padding: 3% 0;
}
.learnmore button {
  padding: 2% 0;
  margin: 6% 0 5% 0;
  width: 120px;
  border-radius: 10px;
  background-color: #fff;
}
.strategy {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.466);
}
.howwework {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.466);
}
.bottommiddle {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.bottommiddle h2 {
  padding: 3% 0;
}
.bottommiddle button {
  padding: 2% 0;
  margin: 6% 0 5% 0;
  width: 120px;
  border-radius: 10px;
  background-color: #fff;
}
.placewework {
  border-bottom: 1.5px dashed black;
}
.collaboration {
  border-bottom: 1.5px dashed black;
}
.end h3 {
  padding: 3.5% 3.5% 0 3.5%;
}
.end p {
  padding: 0% 3.5% 4% 3.5%;
}
.container footer {
  width: 100%;
  background: black;
  margin-bottom: 0;
}

footer nav {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 2%;
  font-size: 14px;
  margin-bottom: 0px;
}
footer nav a {
  color: white;
  text-decoration: none;
}
